$breakpoint-tablet: 768px;

.profile {
  display: flex;
  height: 100%;
}

.profile_right {
  flex: 8.5;
}

.profile_share {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.profile_shareContainer {
  width: 70%;
  @media (max-width: $breakpoint-tablet) {
    width: 100%;
  }
}

.profile_rightTop {
  display: flex;
  flex-direction: column;
  width: 100%;
  .profile_coverImage {
    position: relative;
    width: 100%;

    overflow: hidden;
    height: 320px;
    img {
      width: 100%;
      object-fit: cover;
      height: 250px;
    }
  }
  .profile_image {
    display: flex;
    justify-content: center;

    img {
      object-fit: cover;
      border-radius: 50%;
      width: 150px;
      height: 150px;
      position: absolute;
      border: white solid 5px;
      top: 230px;
      margin: auto;
    }
  }
}

.profile_desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  h4.profile_title {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
  }
}

.profile_rightBottom {
  display: flex;
}
