$breakpoint-tablet: 768px;

.rightbar {
  padding: 20px;
  flex: 4;
  overflow-y: scroll;

  @media (max-width: $breakpoint-tablet) {
    display: none;
  }
}

.rightbar_top {
  display: flex;
  img {
    height: 35px;
    margin-right: 10px;
  }
  margin-bottom: 20px;
}

.rightbar_middle {
  img {
    width: 100%;
    border-radius: 10px;
  }
}

.rightbar_bottomTitle {
  margin: 20px 0;
}
.rightbar_friendsList {
  display: flex;
  flex-direction: column;
}
